.marginExternal{
    margin-top:100px;
}

.wrap h5{
    margin-bottom:24px;
font-size: 20px;
font-weight: 600;
line-height: 24px;

}
.active{
    color:#000;
    font-weight: 500;
}
.wrap p{
    margin-bottom:60px;
    max-width:1730px;
    color:#000;
    font-weight:400;
}
.wrap div{
    display: flex;
}
.Card{
    margin-right:367px;
    display: flex;
    flex-direction: column;
}
.Card Img{
    margin-top:18px;
    margin-bottom:24px;
}
.Card p{
    max-width: 447px;
}