.header{
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    box-sizing: border-box;
    background-color: #fff;
}
.ul{
    display: flex;
}

.ul > li:not(:last-child){
    margin-right:40px;
}

.spacer_right{
    margin-right:40px;
}
.fixed{
    transform: translateX(-50%);
    left:50%;
    position: fixed;
    z-index:10;
    width:100vw;
}