.header{
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    box-sizing: border-box;
    background-color: #fff;
    line-height: 48px;
}
.logo{
    font-size: 40px;
    /* font-family: "MyFonts"; */
    font-weight: 700;
   
}
.Ula{
    display: flex;
    /* font-family: "MyFonts"; */
    font-weight: 600;
    font-size:18px;
}

.Ula > li:not(:last-child){
    margin-right:40px;
}

.spacer_right{
    margin-right:40px;
}
.fixed{
    transform: translateX(-50%);
    left:50%;
    position: fixed;
    z-index:10;
    width:100vw;
    background-color: #fff;
}

.nactive{
    color:#00000060;
}
.active{
    color:#000;
}