.marginExternal{
    margin-top:90px;
}
.border{
    overflow: hidden;
}
.wrap p{
    margin-top:24px;
    margin-bottom:24px;
}
.Images2{
    display: flex;
}
.Images2 img{
    transition: 0.25s linear;
}
.border{
    margin-right:24px;
}
.Images2 img:hover{
    cursor: pointer;
    transform: scale(1.15)
}

.title{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;

}
.paragraph{
font-size: 20px;
font-weight: 400;
line-height: 24px;

}