.marginExternal{
    margin-top:140px;
}
.header{
    margin-bottom:32px;
}
.wrap{
    display: flex;
    justify-content: space-between;
}
.left{
    padding:40px 0px;
}
.left >h2{
    margin-top:40px;
}
.left >h3{
    margin-top:40px;
}